@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi Welcome To Our Online Ticket Booking Site. Here You Can Book Your Ticket According To Your Destination,And Also You Can Chose Different Flights. As Per Your Choise</p>
</div>
